<!-- Important Note:  I used the solution from the melon cart project 
as a reference to figure out how to work with template inheritance. -->

<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
   <title>Melon Love &#10024;</title>
</head>

<body>
<div class="container">

  <!-- Show flashed messages -->
  <!-- {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %} -->

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>
</html>
